[Unit]
Documentation=https://www.get-edi.io
Before=local-fs.target

[Mount]
Where=/data
What=${data_device}
Type=ext4

[Install]
RequiredBy=local-fs.target
